*{
    box-sizing: border-box;
}


html, body, div, img {
    margin : 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-start;
    align-content: space-around;
    max-width: 1300px;
    margin: auto;

}

.div {
    flex-basis: 16.666%;
    padding: 8px;
}

.slika {
    margin: 0px;
    background: #3399ff;
    max-width: 200px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

figcaption {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    background: #ccc;
    line-height: 2;
}

figure img {
    display:block;
}

figure {
    margin: 20px;
}

.desc {
    padding: 0px;
    text-align: center;
}

h1 {
    margin: 20px;
}

.text {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 20px;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .div {
        flex-basis: 33,33%;
    }
    
    .slika {
        max-width: 250px
    }
}

@media screen and (max-width: 768px) {
    .div {
        flex-basis: 50%;
    }
    
    .slika {
        max-width: 250px
    }
}

@media screen and (max-width: 414px) {
    .div {
        flex-basis: 100%;
    }
    
    .slika {
        max-width: 250px
    }
}


